TRABALHANDO COM TUPLAS

In [2]:
#Criando uma tupla
tupla1 = ('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [3]:
#Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [5]:
#Tuplas não suportam append()
tupla1.append('Chocolate')

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
#Tuplas não suportam delete de um item específico
del tupla1['Elefantes']

TypeError: 'tuple' object does not support item deletion

In [8]:
#Tuplas podem ter um único item.
tupla1 = ('Chocolate')

In [9]:
tupla1

'Chocolate'

In [10]:
tupla1 = ('Geografia', 23, 'Elefantes', 9.8, 'Python')

In [12]:
tupla1[0]

'Geografia'

In [14]:
#Verificando o comprimento da tupla
len(tupla1)

5

In [15]:
#Slicing, da mesma forma que se faz em listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [16]:
tupla1.index('Elefantes')

2

In [17]:
#Tuplas não suportam atribução de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [18]:
#deletando a tupla
del tupla1

In [19]:
tupla1

NameError: name 'tupla1' is not defined

In [20]:
#Criando uma tupla.
t2 = ('A','B','C')

In [21]:
t2

('A', 'B', 'C')

In [22]:
#Tuplas não suportam atribuição de item
t2[0] ='D'

TypeError: 'tuple' object does not support item assignment

In [23]:
#Usando a função list()para converter uma tupla para lista
lista_t2 = list(t2)

In [24]:
lista_t2

['A', 'B', 'C']

In [25]:
lista_t2.append('D')

In [26]:
lista_t2

['A', 'B', 'C', 'D']

In [28]:
#Usando a função tuple () para converter uma lista para tupla
t2 = tuple(lista_t2)

In [29]:
t2

('A', 'B', 'C', 'D')

In [30]:
type(t2)

tuple

FIM